@(id : Long ,orderForm: Form[Order], user : User)

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@import helper._
@import helper.twitterBootstrap._

@informationGroup(field: Field, className: String = "orderItem") = {
   
		<tr>
			<td>
        	@select(
                field("productId"), 
                options = Product.allForSelect,
                '_default -> "--- Choose a Product ---",
                '_label -> "Products"
            	)
			</td>
			<td>
        		@inputText(
            		field("quantity"), 
            		'_label -> "quantity"
        		)
			</td>
			<td>
				<a class="removeOrderItem btn danger pull-right">Clear</a>
			</td>
		</tr>
}

@main(user) {
    
    <h1>Create or Edit Product</h1>
    
    @form(routes.OrderController.update(id)) {
        
    	@if(orderForm.hasGlobalErrors) { 
            <div class="alert alert-error">
                @orderForm.errorsAsJson
            </div>
        }
    	
    	@if(orderForm.hasErrors) { 
            <div class="alert alert-error">
                @orderForm.errorsAsJson
            </div>
        }
    	
        <fieldset>
        	@inputText(orderForm("orderCode"), '_label -> "Order Code")
            @select(
                orderForm("salesPersonId"), 
                options = SalesPerson.allForSelect,
                '_default -> "--- Choose a SalesPerson ---",
                '_label -> "Sales Persons",
                '_error -> orderForm("salespersonId").error.map(_.withMessage("Please select a person"))
            )
    		@inputText(orderForm("orderDate"), '_label -> "Order Date")
    		@select(
                orderForm("orderStatus"), 
                options = OrderStatus.orderStatesUpdate(),
                '_label -> "Order Status",
                '_error -> orderForm("orderStatus").error.map(_.withMessage("Please select a status"))
            )
    		@textarea(orderForm("orderRemarks"), args = 'rows -> 3, 'cols -> 50,'_label -> "Remarks")
        </fieldset>
        
    	<fieldset>
            <legend>OrderItems</legend>
            
            <div id="orderitems" class="span6">
            	<table class="table table-condensed table-striped">
                @repeat(orderForm("orderitems"), min = 15) { orderitem =>
                
                   @informationGroup(orderitem)
                
                }
                </table>
                
            </div>
            
        </fieldset>
    	
        <div class="actions">
            <input type="submit" value="Save Order" class="btn primary"> or 
            <a href="@routes.OrderController.list()" class="btn">Cancel</a>
        </div>  	
    }
}