@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>B4B CRM</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body> 
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">Business 4 Babies </a>
				<a href="@routes.OrderController.list()">Orders</a>
				<a href="@routes.ProductController.list()">Products</a>
 				<a href="@routes.SalesPersonController.list()">Agents</a>
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
